In [44]:
# load packages
import pandas as pd
import numpy as np
import plotly.express as px
import plotly.graph_objects as go

**County Population**

In [45]:
# read in county population files from three separate csvs
cplist = []

for i in ['2009', '2019', '2021']:
    df = pd.read_csv(f'data/county_pop/co-est{i}-alldata.csv', header=0, encoding='latin1')
    cplist.append(df)

#cplist[0]['CENSUS2000POP'].dtype == cplist[1]['CENSUS2010POP'].dtype
#print(cplist[0]['CENSUS2000POP'].dtype)
#print(cplist[1]['CENSUS2010POP'].dtype)
#for i in range(0, 3):
#    print(cplist[i].dtypes)

In [46]:
#concatenate three dataframe in cplist
cp = pd.concat(cplist, axis=0, ignore_index=True)

#filter out state & county level summary rows
cp = cp[cp['CTYNAME'].str.contains('County|Parish|Borough')]

#pivot dataset from wide to long format
cp = cp.loc[:, [col for col in cp.columns if col not in ['CENSUS2000POP', 'CENSUS2010POP']]]
stub = list(cp.columns[cp.columns.str.contains('[0-9]')].str.replace('[0-9].*', '').unique())
cp["id"] = cp.index
cp = pd.wide_to_long(cp, stub, i = "id", j = "year").fillna(0).reset_index()

#group data by year and county
cp = cp.groupby(['year', 'COUNTY', 'STNAME', 'SUMLEV', 'REGION', 'DIVISION', 'STATE', 'CTYNAME']).agg(sum).reset_index()

#delete unneeded columns
deletecols = ['SUMLEV', 'REGION', 'DIVISION', 'id', 'GQESTIMATESBASE', 'GQESTIMATES', 'RBIRTH', 'RDEATH', 'RNATURALINC', 'RINTERNATIONALMIG',\
               'RDOMESTICMIG', 'RNETMIG', 'NPOPCHG', 'NATURALCHG', 'RNATURALCHG']
cp = cp.loc[:, [col for col in cp.columns if col not in deletecols]]
print(list(cp.columns))

#cp[cp['CTYNAME'] == 'Miami-Dade County'].to_csv('data/county_pop/miami-dade-test.csv')

#convert FIPS codes to string and add dropped leading zeroes
cp[['STATE', 'COUNTY']] = cp[['STATE', 'COUNTY']].astype('string')
cp.loc[cp['STATE'].str.len() == 1, 'STATE'] = ['0' + i for i in cp.loc[cp['STATE'].str.len() == 1, 'STATE']]
cp.loc[cp['COUNTY'].str.len() == 1, 'COUNTY'] = ['00' + i for i in cp.loc[cp['COUNTY'].str.len() == 1, 'COUNTY']]
cp.loc[cp['COUNTY'].str.len() == 2, 'COUNTY'] = ['0' + i for i in cp.loc[cp['COUNTY'].str.len() == 2, 'COUNTY']]

#combine state and county FIPS codes to get the five-digit FIPS
cp = cp.assign(FIPS = cp['STATE'] + cp['COUNTY'])

C:\Users\TylerFrankenberg\AppData\Local\Temp\ipykernel_13404\3807842804.py:9: FutureWarning:

The default value of regex will change from True to False in a future version.

['year', 'COUNTY', 'STNAME', 'STATE', 'CTYNAME', 'ESTIMATESBASE', 'POPESTIMATE', 'NPOPCHG_', 'BIRTHS', 'DEATHS', 'NATURALINC', 'INTERNATIONALMIG', 'DOMESTICMIG', 'NETMIG', 'RESIDUAL']

In [47]:
#check for null values by column
print(cp.isnull().sum())

#view first 10 rows of dataset
display(cp.head(10))

#view summary statistics on numerical columns
display(cp.describe())

year                0
COUNTY              0
STNAME              0
STATE               0
CTYNAME             0
ESTIMATESBASE       0
POPESTIMATE         0
NPOPCHG_            0
BIRTHS              0
DEATHS              0
NATURALINC          0
INTERNATIONALMIG    0
DOMESTICMIG         0
NETMIG              0
RESIDUAL            0
FIPS                0
dtype: int64

,year,COUNTY,STNAME,STATE,CTYNAME,ESTIMATESBASE,POPESTIMATE,NPOPCHG_,BIRTHS,DEATHS,NATURALINC,INTERNATIONALMIG,DOMESTICMIG,NETMIG,RESIDUAL,FIPS
0,2000,001,Alabama,01,Autauga County,43671.0,43872.0,201.0,142.0,79.0,63.0,5.0,133.0,138.0,0.0,01001
1,2000,001,Arizona,04,Apache County,69423.0,69516.0,93.0,277.0,106.0,171.0,1.0,-82.0,-81.0,3.0,04001
2,2000,001,Arkansas,05,Arkansas County,20743.0,20672.0,-71.0,49.0,46.0,3.0,0.0,-72.0,-72.0,-2.0,05001
3,2000,001,California,06,Alameda County,1443744.0,1450220.0,6476.0,5481.0,2302.0,3179.0,3648.0,-462.0,3186.0,111.0,06001
4,2000,001,Colorado,08,Adams County,347985.0,350961.0,2976.0,1507.0,472.0,1035.0,709.0,1220.0,1929.0,12.0,08001
5,2000,001,Connecticut,09,Fairfield County,882567.0,884420.0,1853.0,3175.0,1631.0,1544.0,1718.0,-1444.0,274.0,35.0,09001
6,2000,001,Delaware,10,Kent County,126704.0,127109.0,405.0,460.0,242.0,218.0,71.0,110.0,181.0,6.0,10001
7,2000,001,Florida,12,Alachua County,217955.0,218602.0,647.0,620.0,382.0,238.0,258.0,138.0,396.0,13.0,12001
8,2000,001,Georgia,13,Appling County,17419.0,17408.0,-11.0,65.0,36.0,29.0,9.0,-49.0,-40.0,0.0,13001
9,2000,001,Hawaii,15,Hawaii County,148676.0,149095.0,419.0,503.0,320.0,183.0,150.0,80.0,230.0,6.0,15001

,year,ESTIMATESBASE,POPESTIMATE,NPOPCHG_,BIRTHS,DEATHS,NATURALINC,INTERNATIONALMIG,DOMESTICMIG,NETMIG,RESIDUAL
count,68002.000000,6.800200e+04,6.800200e+04,68002.000000,68002.000000,68002.000000,68002.000000,68002.000000,68002.000000,68002.000000,68002.000000
mean,2010.500000,1.335707e+04,9.857147e+04,657.678098,1144.683950,744.657495,397.443384,247.213376,8.213126,255.426502,9.483824
std,6.344335,1.215412e+05,3.187636e+05,3720.505443,4170.909892,2137.716754,2232.569346,1691.744043,3630.698286,3172.989624,565.407207
min,2000.000000,0.000000e+00,0.000000e+00,-246640.000000,0.000000,0.000000,-4729.000000,-6061.000000,-248723.000000,-248105.000000,-10353.000000
25%,2005.000000,0.000000e+00,1.101000e+04,-66.000000,100.000000,97.000000,-8.000000,1.000000,-122.000000,-96.000000,-9.000000
50%,2010.500000,0.000000e+00,2.556300e+04,0.000000,262.000000,234.000000,14.000000,7.000000,-12.000000,-2.000000,-1.000000
75%,2016.000000,0.000000e+00,6.580275e+04,223.000000,702.000000,569.000000,134.000000,46.000000,117.000000,161.000000,1.000000
max,2021.000000,1.001401e+07,1.010571e+07,144496.000000,155576.000000,82350.000000,95704.000000,91174.000000,86497.000000,110477.000000,49385.000000

In [48]:
#get curated pat data from multiple csv files
import glob

path = 'C:/Users/TylerFrankenberg/OneDrive/Documents/MScapstone/data/patent/curated/*' 
all_files = glob.glob(path)

pat_cols = ['pat_id', 'type', 'pat_number', 'pat_date', 'app_id', 'series_code', 'app_number', 'app_date', 'iloc_county_fips', 'aloc_county_fips',\
             'cpc_group', 'pat_year', 'app_year', 'any_ai', 'ml', 'evo', 'nlp', 'speech', 'vision', 'kr', 'planning', 'hardware']
pat_csv_list = []

for file in all_files:
    df = pd.read_csv(file, header=None)
    pat_csv_list.append(df)

pat = pd.concat(pat_csv_list, axis=0, ignore_index=True)
pat.columns = pat_cols

#exclude reissue applications
pat = pat[pat['type'] == 'utility']

#convert FIPS codes to string and add back dropped leading zeroes
pat[['iloc_county_fips', 'aloc_county_fips']] = pat[['iloc_county_fips', 'aloc_county_fips']].fillna('0').astype(float)
pat[['iloc_county_fips', 'aloc_county_fips', ]] = pat[['iloc_county_fips', 'aloc_county_fips', ]].astype(int)
pat[['iloc_county_fips', 'aloc_county_fips']] = pat[['iloc_county_fips', 'aloc_county_fips']].astype(str)
pat.loc[pat['iloc_county_fips'].str.len() == 4, 'iloc_county_fips'] = ['0' + i for i in pat.loc[pat['iloc_county_fips'].str.len() == 4, 'iloc_county_fips']]
pat.loc[pat['aloc_county_fips'].str.len() == 4, 'aloc_county_fips'] = ['0' + i for i in pat.loc[pat['aloc_county_fips'].str.len() == 4, 'aloc_county_fips']]
pat.loc[pat['iloc_county_fips'].str.len() == 1, 'iloc_county_fips'] = None
pat.loc[pat['aloc_county_fips'].str.len() == 1, 'aloc_county_fips'] = None

#add a counter value which will be summed in the grouped dataframe below to give a sum of patents
pat = pat.assign(patents = 1)

C:\Users\TylerFrankenberg\AppData\Local\Temp\ipykernel_13404\3939571988.py:12: DtypeWarning:

Columns (10) have mixed types. Specify dtype option on import or set low_memory=False.

C:\Users\TylerFrankenberg\AppData\Local\Temp\ipykernel_13404\3939571988.py:12: DtypeWarning:

Columns (10) have mixed types. Specify dtype option on import or set low_memory=False.

C:\Users\TylerFrankenberg\AppData\Local\Temp\ipykernel_13404\3939571988.py:12: DtypeWarning:

Columns (10) have mixed types. Specify dtype option on import or set low_memory=False.

C:\Users\TylerFrankenberg\AppData\Local\Temp\ipykernel_13404\3939571988.py:12: DtypeWarning:

Columns (10) have mixed types. Specify dtype option on import or set low_memory=False.

C:\Users\TylerFrankenberg\AppData\Local\Temp\ipykernel_13404\3939571988.py:12: DtypeWarning:

Columns (10) have mixed types. Specify dtype option on import or set low_memory=False.

C:\Users\TylerFrankenberg\AppData\Local\Temp\ipykernel_13404\3939571988.py:12: DtypeWarning:

Columns (10) have mixed types. Specify dtype option on import or set low_memory=False.

C:\Users\TylerFrankenberg\AppData\Local\Temp\ipykernel_13404\3939571988.py:12: DtypeWarning:

Columns (10) have mixed types. Specify dtype option on import or set low_memory=False.

In [49]:
#prepare columns from cp dataset to join with patent data
pat_cols = [col for col in cp.columns if col in ['FIPS', 'STNAME', 'CTYNAME', 'year', 'POPESTIMATE', 'DOMESTICMIG']]
pat_pop = cp.loc[:, pat_cols].set_index(['FIPS', 'year'])
pat_pop.head(10)

#group patent dataset by fips and year and join to columns from population dataset
pat_group = pat.groupby(['iloc_county_fips', 'pat_year']).agg(sum).reset_index()
pat_group = pat_group.assign(FIPS = pat_group['iloc_county_fips'], year = pat_group['pat_year'])
pat_group = pat_group.set_index(['FIPS', 'year'])
pat_group = pat_group.join(pat_pop)

#calculate patents per thousand, ai patents per thousand and domestic net migration as percent of population measures
pat_group = pat_group.assign(pat_per_k = (pat_group['patents'] / pat_group['POPESTIMATE']) * 1000 \
                            ,ai_pat_per_k = (pat_group['any_ai'] / pat_group['POPESTIMATE']) * 1000)

pat_group['SMA_pat_9yr'] = pat_group.groupby('iloc_county_fips')['pat_per_k'].transform(lambda x: x.rolling(9).mean())
pat_group['EMA_pat_9yr'] = pat_group.groupby('iloc_county_fips')['pat_per_k'].transform(lambda x: x.ewm(span=9).mean())
pat_group['SMA_aipat_9yr'] = pat_group.groupby('iloc_county_fips')['any_ai'].transform(lambda x: x.rolling(9).mean())
pat_group['EMA_aipat_9yr'] = pat_group.groupby('iloc_county_fips')['any_ai'].transform(lambda x: x.ewm(span=9).mean())

In [50]:
pat_group = pat_group[['iloc_county_fips', 'STNAME', 'CTYNAME', 'pat_year', 'patents', 'any_ai', 'POPESTIMATE', 'DOMESTICMIG', 'pat_per_k', 'ai_pat_per_k', 'EMA_pat_9yr', 'EMA_aipat_9yr']]
print(pat_group.isnull().sum())

pat_group = pat_group.dropna(axis=0, subset=['POPESTIMATE'])
pat_group = pat_group[pat_group['POPESTIMATE'] != 0]

iloc_county_fips       0
STNAME              1161
CTYNAME             1161
pat_year               0
patents                0
any_ai                 0
POPESTIMATE         1161
DOMESTICMIG         1161
pat_per_k           1161
ai_pat_per_k        1170
EMA_pat_9yr         1163
EMA_aipat_9yr          0
dtype: int64

In [51]:
display(pat_group.head(10))
display(pat_group.describe())

           iloc_county_fips   STNAME         CTYNAME  pat_year  patents  \
FIPS  year
01001 2001            01001  Alabama  Autauga County      2001        1
      2002            01001  Alabama  Autauga County      2002        2
      2003            01001  Alabama  Autauga County      2003        1
      2004            01001  Alabama  Autauga County      2004        1
      2005            01001  Alabama  Autauga County      2005        2
      2007            01001  Alabama  Autauga County      2007        3
      2008            01001  Alabama  Autauga County      2008        3
      2009            01001  Alabama  Autauga County      2009        1
      2010            01001  Alabama  Autauga County      2010        1
      2011            01001  Alabama  Autauga County      2011        2

            any_ai  POPESTIMATE  DOMESTICMIG  pat_per_k  ai_pat_per_k  \
FIPS  year
01001 2001     0.0      44434.0        317.0   0.022505           0.0
      2002     0.0      45157.0        551.0   0.044290           0.0
      2003     0.0      45762.0        501.0   0.021852           0.0
      2004     0.0      46933.0        955.0   0.021307           0.0
      2005     0.0      47870.0        723.0   0.041780           0.0
      2007     0.0      49834.0        498.0   0.060200           0.0
      2008     0.0      50354.0        215.0   0.059578           0.0
      2009     0.0      50756.0        157.0   0.019702           0.0
      2010     0.0      54773.0        147.0   0.018257           0.0
      2011     0.0      55227.0        327.0   0.036214           0.0

            EMA_pat_9yr  EMA_aipat_9yr
FIPS  year
01001 2001     0.022505            0.0
      2002     0.034608            0.0
      2003     0.029380            0.0
      2004     0.026645            0.0
      2005     0.031147            0.0
      2007     0.039022            0.0
      2008     0.044224            0.0
      2009     0.038331            0.0
      2010     0.033694            0.0
      2011     0.034259            0.0

,pat_year,patents,any_ai,POPESTIMATE,DOMESTICMIG,pat_per_k,ai_pat_per_k,EMA_pat_9yr,EMA_aipat_9yr
count,43505.000000,43505.000000,43505.000000,4.350500e+04,43505.000000,43505.000000,43505.000000,43505.000000,43505.000000
mean,2011.228411,90.240593,14.715435,1.443037e+05,27.729686,0.332466,0.032596,0.278984,11.562614
std,6.044857,573.846571,148.809565,3.900825e+05,4534.828584,0.632042,0.132057,0.490035,113.824208
min,2000.000000,1.000000,0.000000,4.790000e+02,-248723.000000,0.000406,0.000000,0.000406,0.000000
25%,2006.000000,2.000000,0.000000,2.125800e+04,-163.000000,0.073955,0.000000,0.077941,0.000000
50%,2011.000000,6.000000,0.000000,4.400400e+04,0.000000,0.152317,0.000000,0.140461,0.214758
75%,2016.000000,25.000000,2.000000,1.134090e+05,267.000000,0.342204,0.021991,0.285738,1.319791
max,2021.000000,38681.000000,9745.000000,1.010571e+07,86497.000000,20.514896,5.047659,13.486925,7267.193890

In [52]:
cbsa = pd.read_csv('data/CBSA Crosswalk.csv', header=2)

cbsa = cbsa[(~cbsa['FIPS State Code'].isnull()) & (~cbsa['FIPS County Code'].isnull())]
cbsa[['FIPS State Code', 'FIPS County Code']] = cbsa[['FIPS State Code', 'FIPS County Code']].astype(int).astype('string')
cbsa.loc[cbsa['FIPS State Code'].str.len() == 1, 'FIPS State Code'] = ['0' + i for i in cbsa.loc[cbsa['FIPS State Code'].str.len() == 1, 'FIPS State Code']]
cbsa.loc[cbsa['FIPS County Code'].str.len() == 1, 'FIPS County Code'] = ['00' + i for i in cbsa.loc[cbsa['FIPS County Code'].str.len() == 1, 'FIPS County Code']]
cbsa.loc[cbsa['FIPS County Code'].str.len() == 2, 'FIPS County Code'] = ['0' + i for i in cbsa.loc[cbsa['FIPS County Code'].str.len() == 2, 'FIPS County Code']]
cbsa['FIPS'] = cbsa['FIPS State Code'] + cbsa['FIPS County Code']

cbsa = cbsa.drop(columns=['CBSA Code', 'Metropolitan Division Code', 'CSA Code', 'Metropolitan Division Title', 'FIPS State Code', 'FIPS County Code']).set_index('FIPS')
cbsa = cbsa.rename(columns={'CBSA Title':'cbsa', 'Metropolitan/Micropolitan Statistical Area':'msa', 'CSA Title':'csa', 'County/County Equivalent':'county', 'State Name':'state', 'Central/Outlying County':'central/outlying'})
display(cbsa.head(10))

,cbsa,msa,csa,county,state,central/outlying
FIPS,,,,,,
46013,"Aberdeen, SD",Micropolitan Statistical Area,NaN,Brown County,South Dakota,Central
46045,"Aberdeen, SD",Micropolitan Statistical Area,NaN,Edmunds County,South Dakota,Outlying
53027,"Aberdeen, WA",Micropolitan Statistical Area,NaN,Grays Harbor County,Washington,Central
48059,"Abilene, TX",Metropolitan Statistical Area,NaN,Callahan County,Texas,Outlying
48253,"Abilene, TX",Metropolitan Statistical Area,NaN,Jones County,Texas,Outlying
48441,"Abilene, TX",Metropolitan Statistical Area,NaN,Taylor County,Texas,Central
40123,"Ada, OK",Micropolitan Statistical Area,NaN,Pontotoc County,Oklahoma,Central
26091,"Adrian, MI",Micropolitan Statistical Area,"Detroit-Warren-Ann Arbor, MI",Lenawee County,Michigan,Central
39133,"Akron, OH",Metropolitan Statistical Area,"Cleveland-Akron-Canton, OH",Portage County,Ohio,Central
39153,"Akron, OH",Metropolitan Statistical Area,"Cleveland-Akron-Canton, OH",Summit County,Ohio,Central

In [53]:
tax_csv_list = []

for i in list(range(10, 21)):
    df = pd.read_csv(f'data/SOI_tax/{i}incyallagi.csv', header=0, encoding='latin1')
    df['year'] = 2000 + i
    tax_csv_list.append(df)

#for i in tax_csv_list:
#    print(i.head(5))

tax = pd.concat(tax_csv_list, axis=0, ignore_index=True)
tax.head(10)

,STATEFIPS,STATE,COUNTYFIPS,COUNTYNAME,agi_stub,N1,MARS2,PREP,N2,NUMDEP,...,N02910,A02910,N11450,A11450,N10970,A10970,N10971,A10971,N10973,A10973
0,1,AL,0,Alabama,1,55504.0,9767.0,20102.0,63924.0,7506.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,1,AL,0,Alabama,2,933294.0,140316.0,563827.0,1629025.0,517538.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,1,AL,0,Alabama,3,495863.0,169878.0,303935.0,1081258.0,342804.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,1,AL,0,Alabama,4,254814.0,156414.0,160348.0,607774.0,187672.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,1,AL,0,Alabama,5,154603.0,125336.0,94841.0,413668.0,131234.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,1,AL,0,Alabama,6,166872.0,148634.0,100029.0,476977.0,159923.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,1,AL,0,Alabama,7,39324.0,35336.0,30690.0,116722.0,41901.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7,1,AL,1,Autauga County,1,457.0,76.0,149.0,582.0,85.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8,1,AL,1,Autauga County,2,10206.0,1330.0,4879.0,15594.0,4884.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9,1,AL,1,Autauga County,3,5736.0,1980.0,2735.0,12246.0,4060.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [54]:
tax_cols = ['STATEFIPS', 'STATE', 'COUNTYFIPS', 'COUNTYNAME', 'agi_stub', 'N1', 'N2', 'A00100', 'A00700', 'A18425', 'A18450', 'A18500', 'A18800', 'A18460', 'year']
tax_cols_new = ['STATEFIPS', 'STATE', 'COUNTYFIPS', 'COUNTYNAME', 'agi_stub', 'Returns', 'Individuals', 'AGI', 'SL_Refund', 'SL_IncTax', 'SL_SalesTax', 'RE_Tax', 'PropertyTax', 'SL_Lim', 'year']
tax_dict = dict(zip(tax_cols, tax_cols_new))
tax.rename(columns = tax_dict, inplace = True)

tax = tax.loc[tax['COUNTYNAME'].str.contains('County|Parish|Borough'), [col for col in tax.columns if col in tax_cols_new]]

tax[['STATEFIPS', 'COUNTYFIPS']] = tax[['STATEFIPS', 'COUNTYFIPS']].astype('string')
tax.loc[tax['STATEFIPS'].str.len() == 1, 'STATEFIPS'] = ['0' + i for i in tax.loc[tax['STATEFIPS'].str.len() == 1, 'STATEFIPS']]
tax.loc[tax['COUNTYFIPS'].str.len() == 1, 'COUNTYFIPS'] = ['00' + i for i in tax.loc[tax['COUNTYFIPS'].str.len() == 1, 'COUNTYFIPS']]
tax.loc[tax['COUNTYFIPS'].str.len() == 2, 'COUNTYFIPS'] = ['0' + i for i in tax.loc[tax['COUNTYFIPS'].str.len() == 2, 'COUNTYFIPS']]

tax = tax.assign(FIPS = tax['STATEFIPS'] + tax['COUNTYFIPS'])
tax[tax['year'] == 2020].head(10)

,STATEFIPS,STATE,COUNTYFIPS,COUNTYNAME,agi_stub,Returns,Individuals,AGI,SL_IncTax,SL_SalesTax,RE_Tax,year,SL_Refund,PropertyTax,SL_Lim,FIPS
249015,01,AL,001,Autauga County,1,760.0,1040.0,-8938.0,0.0,0.0,0.0,2020,0.0,0.0,0.0,01001
249016,01,AL,001,Autauga County,2,3120.0,3210.0,15511.0,20.0,0.0,0.0,2020,0.0,0.0,0.0,01001
249017,01,AL,001,Autauga County,3,5020.0,8110.0,87790.0,0.0,29.0,30.0,2020,16.0,3.0,82.0,01001
249018,01,AL,001,Autauga County,4,6270.0,11510.0,226470.0,213.0,68.0,82.0,2020,52.0,18.0,352.0,01001
249019,01,AL,001,Autauga County,5,3750.0,7880.0,230656.0,462.0,71.0,139.0,2020,88.0,62.0,679.0,01001
249020,01,AL,001,Autauga County,6,2630.0,6630.0,229074.0,646.0,103.0,208.0,2020,146.0,43.0,913.0,01001
249021,01,AL,001,Autauga County,7,4080.0,11370.0,547010.0,2833.0,178.0,632.0,2020,498.0,118.0,3544.0,01001
249022,01,AL,001,Autauga County,8,690.0,1950.0,228005.0,3650.0,52.0,519.0,2020,184.0,65.0,2486.0,01001
249023,01,AL,003,Baldwin County,1,3800.0,5500.0,-172791.0,0.0,0.0,0.0,2020,63.0,0.0,0.0,01003
249024,01,AL,003,Baldwin County,2,14390.0,15010.0,70860.0,187.0,84.0,145.0,2020,28.0,16.0,350.0,01003

In [55]:
tax = tax.fillna(0)

tax = tax.assign(SL_taxtotal = tax['SL_IncTax'] + tax['SL_SalesTax'] + tax['RE_Tax'] + tax['PropertyTax'] + tax['SL_Lim'] - tax['SL_Refund'])
tax = tax.assign(burden = tax['SL_taxtotal'] / tax['AGI'])  
tax.head(10)

,STATEFIPS,STATE,COUNTYFIPS,COUNTYNAME,agi_stub,Returns,Individuals,AGI,SL_IncTax,SL_SalesTax,RE_Tax,year,SL_Refund,PropertyTax,SL_Lim,FIPS,SL_taxtotal,burden
7,01,AL,001,Autauga County,1,457.0,582.0,-12154.0,0.0,0.0000,0.0,2010,0.0,0.0,0.0,01001,0.0000,-0.000000
8,01,AL,001,Autauga County,2,10206.0,15594.0,130919.0,696.0,1044.0000,258.0,2010,0.0,0.0,0.0,01001,1998.0000,0.015261
9,01,AL,001,Autauga County,3,5736.0,12246.0,205340.0,1651.0,421.0000,610.0,2010,0.0,0.0,0.0,01001,2682.0000,0.013061
10,01,AL,001,Autauga County,4,3412.0,8777.0,211585.0,3030.0,365.0000,864.0,2010,0.0,0.0,0.0,01001,4259.0000,0.020129
11,01,AL,001,Autauga County,5,2375.0,6962.0,205158.0,3930.0,314.0000,901.0,2010,0.0,0.0,0.0,01001,5145.0000,0.025078
12,01,AL,001,Autauga County,6,2397.0,7350.0,309996.0,8193.0,317.0000,1731.0,2010,0.0,0.0,0.0,01001,10241.0000,0.033036
13,01,AL,001,Autauga County,7,238.0,719.0,90897.0,2454.0,0.0001,362.0,2010,0.0,0.0,0.0,01001,2816.0001,0.030980
14,01,AL,003,Baldwin County,1,1858.0,3036.0,-146909.0,0.0,0.0000,0.0,2010,0.0,0.0,0.0,01003,0.0000,-0.000000
15,01,AL,003,Baldwin County,2,34120.0,54714.0,435428.0,1286.0,1603.0000,2312.0,2010,0.0,0.0,0.0,01003,5201.0000,0.011945
16,01,AL,003,Baldwin County,3,19946.0,41228.0,720172.0,5577.0,2220.0000,3783.0,2010,0.0,0.0,0.0,01003,11580.0000,0.016079

In [56]:
#0 = No AGI Stub (Total)
#1 = Under $1
#2 = $1 under $10,000
#3 = $10,000 under $25,000
#4 = $25,000 under $50,000
#5 = $50,000 under $75,000
#6 = $75,000 under $100,000
#7 = $100,000 under $200,000
#8 = $200,000 or more


tax1019 = tax[(tax['year'] >= 2011) & (tax['year'] <= 2019)].groupby(['FIPS', 'agi_stub']).agg(np.mean)

tax1019['burd_weight'] = (tax1019['SL_taxtotal'] / tax1019['AGI']) * tax1019['Returns']
tax1019i = pd.DataFrame(tax1019.groupby('FIPS').agg(sum)['Returns'])
tax1019i = tax1019i.rename(columns={'Returns': 'Returns_Total'})

tax1019top = pd.DataFrame(tax.loc[(tax['agi_stub'] == 8), ['FIPS', 'burden']].groupby('FIPS').agg(np.mean)).rename(columns={'burden':'burd_top'})
tax1019upmed = pd.DataFrame(tax.loc[(tax['agi_stub'].isin([7, 8])), ['FIPS', 'burden']].groupby('FIPS').agg(np.mean)).rename(columns={'burden':'burd_upmed'})
tax1019lowmed = pd.DataFrame(tax.loc[(tax['agi_stub'].isin([4, 5, 6])), ['FIPS', 'burden']].groupby('FIPS').agg(np.mean)).rename(columns={'burden':'burd_lowmed'})
tax1019min = pd.DataFrame(tax.loc[(tax['agi_stub'] == 1), ['FIPS', 'burden']].groupby('FIPS').agg(np.mean)).rename(columns={'burden':'burd_min'})

tax1019 = tax1019.join(tax1019i, on='FIPS')
tax1019['burd_weight'] = tax1019['burd_weight'] / tax1019['Returns_Total']

tax1019a = tax1019.groupby('FIPS').agg(sum)[['burd_weight']]
tax1019a = tax1019a.join(tax1019top, on='FIPS').join(tax1019upmed, on='FIPS').join(tax1019lowmed, on='FIPS').join(tax1019min, on='FIPS')
display(tax1019.head(10))
display(tax1019i.head(10))
display(tax1019a.head(10))

                     Returns   Individuals            AGI    SL_IncTax  \
FIPS  agi_stub
01001 1           213.222222    332.555556   -6372.888889     0.000000
      2          3937.555556   4337.000000   29102.555556    66.555556
      3          5501.333333  10129.555556  105738.888889   302.111111
      4          5325.222222  10943.000000  202634.444444  1238.666667
      5          3371.555556   8052.666667  215034.000000  2088.888889
      6          2516.666667   6961.111111  230141.777778  3144.111111
      7          2893.888889   8468.888889  387370.888889  7056.777778
      8           435.000000   1265.000000  150254.000000  4041.250000
01003 1          1786.777778   2872.222222 -140379.444444     0.000000
      2         15754.444444  17637.555556  112210.000000   365.111111

                SL_SalesTax       RE_Tax    year    SL_Refund  PropertyTax  \
FIPS  agi_stub
01001 1            0.000000     0.000000  2015.0     1.222222     0.000000
      2           61.666667    47.888889  2015.0    10.000000     2.333333
      3          173.888889   141.000000  2015.0    30.555556     9.333333
      4          282.444444   417.666667  2015.0   164.111111    41.555556
      5          279.777778   571.888889  2015.0   288.444444    53.333333
      6          276.777778   758.444444  2015.0   357.666667    48.888889
      7          336.333344  1413.333333  2015.0  1026.555556   128.333333
      8           27.625000   538.625000  2015.5   450.500000    43.875000
01003 1            0.000000     0.000000  2015.0   106.666667     0.000000
      2          450.777778   543.555556  2015.0    51.000000    17.888889

                    SL_Lim  SL_taxtotal    burden  burd_weight  Returns_Total
FIPS  agi_stub
01001 1           0.000000    -1.222222  0.000193     0.000002   24194.444444
      2           0.000000   168.444444  0.004798     0.000942   24194.444444
      3          20.888889   616.666667  0.004848     0.001326   24194.444444
      4         101.444444  1917.666667  0.009476     0.002083   24194.444444
      5         153.777778  2859.222222  0.013348     0.001853   24194.444444
      6         230.555556  4101.111111  0.017188     0.001854   24194.444444
      7         827.555556  8735.777789  0.024702     0.002697   24194.444444
      8         609.625000  4810.500000  0.032060     0.000576   24194.444444
01003 1           0.000000  -106.666667  0.000759     0.000014   94997.611111
      2          65.777778  1392.111111  0.012425     0.002057   94997.611111

       Returns_Total
FIPS
01001   24194.444444
01003   94997.611111
01005    9677.416667
01007    7972.111111
01009   22319.861111
01011    3859.111111
01013    8232.083333
01015   48113.027778
01017   14563.944444
01019    9452.527778

       burd_weight  burd_top  burd_upmed  burd_lowmed  burd_min
FIPS
01001     0.011332  0.031708    0.027556     0.013782  0.000158
01003     0.014918  0.036079    0.031682     0.016173  0.000654
01005     0.011741  0.031357    0.029205     0.015186  0.000000
01007     0.008211  0.030246    0.025990     0.011823  0.000000
01009     0.010362  0.035143    0.029952     0.013488  0.000123
01011     0.008666  0.023531    0.027128     0.017263  0.000000
01013     0.007395  0.039008    0.031192     0.011438  0.000000
01015     0.010039  0.035203    0.029792     0.013624  0.000000
01017     0.010441  0.037881    0.032871     0.017287  0.000236
01019     0.010186  0.033177    0.029985     0.014341  0.000000

In [57]:
edu = pd.read_csv(f'data/edu_attainment/edu_attainment.csv', header=0)
#edu.head(5)

deletecols = list(edu.columns[edu.columns.str.contains('ercent|rban')])
edu = edu.loc[edu['Area name'].str.contains("County|Borough|Parish"), [col for col in edu.columns if col not in deletecols]]
edu_colslist = list(edu.columns[(edu.columns.str.contains("[0-9]{4}")) | \
                                (edu.columns.str.contains("20[0-9]{2}-[0-9]{2}"))])
edu_colslist1 = list(edu.columns[(edu.columns.str.contains("[0-9]{4}")) | \
                                 (edu.columns.str.contains("20[0-9]{2}-[0-9]{2}"))]\
                                    .str.replace("Some college \(1-3 years\)", "Some college or associate's degree")\
                                    .str.replace("Four years of college or higher", "Bachelor's degree or higher")\
                                    .str.replace("2007-11", "2011").str.replace("2016-20", "2020"))

edu_colsdict = dict(zip(edu_colslist, edu_colslist1))
edu.rename(columns=edu_colsdict, inplace=True)
edu.head(10)

stub = list(edu.columns[edu.columns.str.contains('[0-9]{4}')].str.replace('[0-9]{4}.*', '').unique())

edu["id"] = edu.index
edu = pd.wide_to_long(edu, stub, i = "id", j = "year").fillna(0).reset_index()

edu.rename(columns={'Federal Information Processing Standard (FIPS) Code': 'FIPS'}, inplace=True)
edu['FIPS'] = edu['FIPS'].astype(str)
edu.loc[edu['FIPS'].str.len() == 4, 'FIPS'] = ['0' + i for i in edu.loc[edu['FIPS'].str.len() == 4, 'FIPS']]

for i in stub:
    edu.loc[:, i] = edu.loc[:, i].astype(str).str.replace(',', '').astype(int)

edu['year'] = edu['year'].astype(int)
edu = edu[edu['FIPS'] != '15005']

C:\Users\TylerFrankenberg\AppData\Local\Temp\ipykernel_13404\3643716205.py:10: FutureWarning:

The default value of regex will change from True to False in a future version.

C:\Users\TylerFrankenberg\AppData\Local\Temp\ipykernel_13404\3643716205.py:18: FutureWarning:

The default value of regex will change from True to False in a future version.

In [58]:
edu_years = [2000, 2011, 2020]
edu_rows = [i for i in cp.index if cp.loc[i, :]['year'] in edu_years]
edu_cols = [col for col in cp.columns if col in ['FIPS', 'year', 'POPESTIMATE']]
edu_pop = cp.loc[edu_rows, edu_cols].set_index(['FIPS', 'year'])
edu_pop.head(10)

edu_group = edu[edu['year'].isin([2011])].groupby(['FIPS', 'year']).agg(sum).reset_index()
edu_group = edu_group.assign(FIPScode = edu_group['FIPS'], YEAR = edu_group['year'])
edu_group = edu_group.set_index(['FIPS', 'year'])
edu_group = edu_group.join(edu_pop)
edu_group = edu_group.assign(bach_pct = edu_group['Bachelor\'s degree or higher, '] / edu_group['POPESTIMATE'])

edu_group['bach_pct'] = edu_group['bach_pct'].fillna(np.mean(edu_group['bach_pct']))

edu_group11 = edu_group[['bach_pct', 'FIPScode', 'YEAR']].rename(columns={'FIPScode':'iloc_county_fips', 'YEAR':'pat_year'})
display(edu_group11.head(10))

edu_group11 = pd.pivot_table(edu_group11, index=['iloc_county_fips'], columns=['pat_year'], 
                    values=['bach_pct'], aggfunc=np.sum)

edu_group11 = edu_group11.sort_index(axis=1, level=1)
edu_group11.columns = [f'{x}_{y}' for x,y in edu_group11.columns]
edu_group11 = edu_group11.reset_index().set_index('iloc_county_fips')
display(edu_group11.head(10))

            bach_pct iloc_county_fips  pat_year
FIPS  year
01001 2011  0.135405            01001      2011
01003 2011  0.181547            01003      2011
01005 2011  0.096193            01005      2011
01007 2011  0.065949            01007      2011
01009 2011  0.075521            01009      2011
01011 2011  0.101546            01011      2011
01013 2011  0.083485            01013      2011
01015 2011  0.105016            01015      2011
01017 2011  0.073517            01017      2011
01019 2011  0.081034            01019      2011

                  bach_pct_2011
iloc_county_fips
01001                  0.135405
01003                  0.181547
01005                  0.096193
01007                  0.065949
01009                  0.075521
01011                  0.101546
01013                  0.083485
01015                  0.105016
01017                  0.073517
01019                  0.081034

In [59]:
hpi = pd.read_csv(f'data/housing/hpi/HPI_AT_BDL_county.csv', header=0)
hpi.head(5)

hpi = hpi[hpi['Year'] >= 2000]
hpi = hpi.loc[:, [col for col in hpi.columns if col not in ['HPI with 1990 base', 'Annual Change (%)']]]

floatcols_hpi = ['HPI', 'HPI with 2000 base']

hpi['HPI'] = hpi['HPI'].str.replace('^.$', '0').astype(float)
hpi['HPI with 2000 base'] = hpi['HPI with 2000 base'].str.replace('^.$', '0').astype(float)
hpi['FIPS'] = hpi['FIPS code'].astype(str)
hpi.loc[hpi['FIPS'].str.len() == 4, 'FIPS'] = ['0' + i for i in hpi.loc[hpi['FIPS'].str.len() == 4, 'FIPS']]

hpi = hpi[hpi['Year'].isin([2011, 2019])]
hpi = pd.pivot_table(hpi, index=['FIPS'], columns=['Year'], 
                    values=['HPI with 2000 base'], aggfunc=np.max)

hpi = hpi.sort_index(axis=1, level=1)
hpi.columns = [f'{x}_{y}' for x,y in hpi.columns]
hpi = hpi.reset_index().set_index('FIPS')
display(hpi.head(10))

mhp = pd.read_csv(f'data/housing/mhp/mhp2011.csv', header=0)
mhp['FIPS'] = mhp['FIPS'].astype(str)
mhp.loc[mhp['FIPS'].str.len() == 4, 'FIPS'] = ['0' + i for i in mhp.loc[mhp['FIPS'].str.len() == 4, 'FIPS']]
mhp = mhp.set_index('FIPS')

mhp.head(10)

hpi = hpi.join(mhp['Estimate Median value (dollars)'])
hpi = hpi.rename(columns={'Estimate Median value (dollars)':'med_home_val_2011', 'HPI with 2000 base_2011':'hpi2011', 'HPI with 2000 base_2019':'hpi2019'})
for col in hpi.columns:
    hpi[[col]] = hpi[[col]].astype(float) 
hpi['med_home_val_2019'] = (hpi['med_home_val_2011'] / hpi['hpi2011']) * hpi['hpi2019']

display(hpi.head(10))

mhv = hpi[['med_home_val_2011', 'med_home_val_2019']]
mhv['pct_chg_mhv'] = (mhv['med_home_val_2019'] - mhv['med_home_val_2011']) / mhv['med_home_val_2011']
mhv = mhv[['med_home_val_2011', 'pct_chg_mhv']]
display(mhv.head(10))

C:\Users\TylerFrankenberg\AppData\Local\Temp\ipykernel_13404\632213873.py:9: FutureWarning:

The default value of regex will change from True to False in a future version.

C:\Users\TylerFrankenberg\AppData\Local\Temp\ipykernel_13404\632213873.py:10: FutureWarning:

The default value of regex will change from True to False in a future version.

       HPI with 2000 base_2011  HPI with 2000 base_2019
FIPS
01001                   125.07                   135.85
01003                   116.68                   166.66
01005                   124.41                   118.19
01007                   127.62                   147.46
01009                   118.32                   136.46
01013                   117.47                   124.52
01015                   123.76                   138.32
01017                   119.23                   135.56
01019                   138.58                   153.03
01021                   117.35                   135.36

       hpi2011  hpi2019  med_home_val_2011  med_home_val_2019
FIPS
01001   125.07   135.85           137500.0      149351.363237
01003   116.68   166.66           175700.0      250961.278711
01005   124.41   118.19            91600.0       87020.368138
01007   127.62   147.46            87500.0      101102.883561
01009   118.32   136.46           111500.0      128594.405003
01013   117.47   124.52            74300.0       78759.138503
01015   123.76   138.32            99600.0      111317.647059
01017   119.23   135.56            82400.0       93685.683133
01019   138.58   153.03            96200.0      106230.956848
01021   117.35   135.36           104300.0      120307.183639

C:\Users\TylerFrankenberg\AppData\Local\Temp\ipykernel_13404\632213873.py:39: SettingWithCopyWarning:


A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

       med_home_val_2011  pct_chg_mhv
FIPS
01001           137500.0     0.086192
01003           175700.0     0.428351
01005            91600.0    -0.049996
01007            87500.0     0.155462
01009           111500.0     0.153313
01013            74300.0     0.060015
01015            99600.0     0.117647
01017            82400.0     0.136962
01019            96200.0     0.104272
01021           104300.0     0.153473

In [60]:
fmr = pd.read_csv(f'data/housing/fmr/FMR_2Bed_2000_2023.csv', encoding='latin1', header=0)

fmr_cols = list(fmr.columns[fmr.columns.str.contains('_[0-9]')])
fmr_cols_new = list(fmr.columns[fmr.columns.str.contains('_[0-9]')].str.replace('fmr', 'afmr').str.replace('_[0-9].*', ''))
fmr_cols_dict = dict(zip(fmr_cols, fmr_cols_new))
#print(fmr_cols_dict)

fmr.rename(columns=fmr_cols_dict, inplace=True)

stub = list(fmr.columns[fmr.columns.str.contains('[0-9]')].str.replace('[0-9].*', '').unique())
fmr["id"] = fmr.index
fmr = pd.wide_to_long(fmr, stub, i = "id", j = "year").fillna(0).reset_index()

fmr = fmr.loc[:, [col for col in fmr.columns if col not in ['id', 'fips', 'areaname', 'msa', 'fmr']]]

fmr[['state', 'county']] = fmr[['state', 'county']].astype(int).astype('string')
fmr.loc[fmr['state'].str.len() == 1, 'state'] = ['0' + i for i in fmr.loc[fmr['state'].str.len() == 1, 'state']]
fmr.loc[fmr['county'].str.len() == 1, 'county'] = ['00' + i for i in fmr.loc[fmr['county'].str.len() == 1, 'county']]
fmr.loc[fmr['county'].str.len() == 2, 'county'] = ['0' + i for i in fmr.loc[fmr['county'].str.len() == 2, 'county']]

fmr = fmr.assign(FIPS_code = fmr['state'] + fmr['county']).astype(str)
fmr.loc[fmr['year'].str.len() == 1, 'year'] = ['200' + i for i in fmr.loc[fmr['year'].str.len() == 1, 'year']]
fmr.loc[fmr['year'].str.len() == 2, 'year'] = ['20' + i for i in fmr.loc[fmr['year'].str.len() == 2, 'year']]
fmr['year'] = fmr['year'].astype(int)
fmr['afmr'] = fmr['afmr'].astype(float)
fmr.rename(columns={'afmr': 'fmr', 'FIPS_code':'FIPS'}, inplace=True)

fmr = fmr[fmr['year'].isin([2011, 2019])]
fmr = pd.pivot_table(fmr, index=['FIPS'], columns=['year'], 
                    values=['fmr'], aggfunc=np.max)

fmr = fmr.sort_index(axis=1, level=1)
fmr.columns = [f'{x}_{y}' for x,y in fmr.columns]
fmr = fmr.reset_index().set_index('FIPS')
fmr['pct_chg_fmr'] = (fmr['fmr_2019'] - fmr['fmr_2011']) / fmr['fmr_2011']
display(fmr.head(10))

C:\Users\TylerFrankenberg\AppData\Local\Temp\ipykernel_13404\4180848644.py:4: FutureWarning:

The default value of regex will change from True to False in a future version.

C:\Users\TylerFrankenberg\AppData\Local\Temp\ipykernel_13404\4180848644.py:10: FutureWarning:

The default value of regex will change from True to False in a future version.

       fmr_2011  fmr_2019  pct_chg_fmr
FIPS
00000       0.0    1387.0          inf
01001     735.0     825.0     0.122449
01003     764.0     888.0     0.162304
01005     539.0     666.0     0.235622
01007     786.0     873.0     0.110687
01009     786.0     873.0     0.110687
01011     550.0     628.0     0.141818
01013     550.0     628.0     0.141818
01015     585.0     676.0     0.155556
01017     536.0     691.0     0.289179

In [61]:
unemp = pd.read_csv(f'data/unemp/Unemployment.csv', header=0)
#unemp.head(5)

unemp = unemp[unemp['Area_name'].str.contains('County|Borough|Parish')]
#unemp.head(5)

print(list(unemp.columns))
unemp = unemp.loc[:, [col for col in unemp.columns if col not in ['Rural_urban_continuum_code_2013', 'Urban_influence_code_2013', 'Metro_2013']]]
stub = list(unemp.columns[unemp.columns.str.contains('[0-9]')].str.replace('[0-9].*', '').unique())
unemp["id"] = unemp.index
unemp = pd.wide_to_long(unemp, stub, i = "id", j = "year").fillna(0).reset_index()

unemp['FIPS_code'] = unemp['FIPS_code'].astype(str)
unemp.loc[unemp['FIPS_code'].str.len() == 4, 'FIPS_code'] = ['0' + i for i in unemp.loc[unemp['FIPS_code'].str.len() == 4, 'FIPS_code']]

unemp['SMA_unemp_9yr'] = unemp.groupby('FIPS_code')['Unemployment_rate_'].transform(lambda x: x.rolling(9).mean())
unemp['EMA_unemp_9yr'] = unemp.groupby('FIPS_code')['Unemployment_rate_'].transform(lambda x: x.ewm(span=9).mean())

unemp = unemp.rename(columns={'FIPS_code':'FIPS'})
unemp = unemp[unemp['year'].isin([2011, 2019])]
unemp = pd.pivot_table(unemp, index=['FIPS'], columns=['year'], 
                    values=['SMA_unemp_9yr', 'EMA_unemp_9yr'], aggfunc=np.max)

unemp = unemp.sort_index(axis=1, level=1)
unemp.columns = [f'{x}_{y}' for x,y in unemp.columns]
unemp['chg_SMA_unemp_9yr'] = (unemp['SMA_unemp_9yr_2019'] - unemp['SMA_unemp_9yr_2011'])
unemp['chg_EMA_unemp_9yr'] = (unemp['EMA_unemp_9yr_2019'] - unemp['EMA_unemp_9yr_2011'])

unemp = unemp.drop(columns=['EMA_unemp_9yr_2019', 'SMA_unemp_9yr_2019'])
display(unemp[unemp.index == '01001'].head(10))

['FIPS_code', 'State', 'Area_name', 'Rural_urban_continuum_code_2013', 'Urban_influence_code_2013', 'Metro_2013', 'Civilian_labor_force_2000', 'Employed_2000', 'Unemployed_2000', 'Unemployment_rate_2000', 'Civilian_labor_force_2001', 'Employed_2001', 'Unemployed_2001', 'Unemployment_rate_2001', 'Civilian_labor_force_2002', 'Employed_2002', 'Unemployed_2002', 'Unemployment_rate_2002', 'Civilian_labor_force_2003', 'Employed_2003', 'Unemployed_2003', 'Unemployment_rate_2003', 'Civilian_labor_force_2004', 'Employed_2004', 'Unemployed_2004', 'Unemployment_rate_2004', 'Civilian_labor_force_2005', 'Employed_2005', 'Unemployed_2005', 'Unemployment_rate_2005', 'Civilian_labor_force_2006', 'Employed_2006', 'Unemployed_2006', 'Unemployment_rate_2006', 'Civilian_labor_force_2007', 'Employed_2007', 'Unemployed_2007', 'Unemployment_rate_2007', 'Civilian_labor_force_2008', 'Employed_2008', 'Unemployed_2008', 'Unemployment_rate_2008', 'Civilian_labor_force_2009', 'Employed_2009', 'Unemployed_2009', 'Unemployment_rate_2009', 'Civilian_labor_force_2010', 'Employed_2010', 'Unemployed_2010', 'Unemployment_rate_2010', 'Civilian_labor_force_2011', 'Employed_2011', 'Unemployed_2011', 'Unemployment_rate_2011', 'Civilian_labor_force_2012', 'Employed_2012', 'Unemployed_2012', 'Unemployment_rate_2012', 'Civilian_labor_force_2013', 'Employed_2013', 'Unemployed_2013', 'Unemployment_rate_2013', 'Civilian_labor_force_2014', 'Employed_2014', 'Unemployed_2014', 'Unemployment_rate_2014', 'Civilian_labor_force_2015', 'Employed_2015', 'Unemployed_2015', 'Unemployment_rate_2015', 'Civilian_labor_force_2016', 'Employed_2016', 'Unemployed_2016', 'Unemployment_rate_2016', 'Civilian_labor_force_2017', 'Employed_2017', 'Unemployed_2017', 'Unemployment_rate_2017', 'Civilian_labor_force_2018', 'Employed_2018', 'Unemployed_2018', 'Unemployment_rate_2018', 'Civilian_labor_force_2019', 'Employed_2019', 'Unemployed_2019', 'Unemployment_rate_2019', 'Civilian_labor_force_2020', 'Employed_2020', 'Unemployed_2020', 'Unemployment_rate_2020', 'Civilian_labor_force_2021', 'Employed_2021', 'Unemployed_2021', 'Unemployment_rate_2021', 'Median_Household_Income_2020', 'Med_HH_Income_Percent_of_State_Total_2020']

C:\Users\TylerFrankenberg\AppData\Local\Temp\ipykernel_13404\2332635236.py:9: FutureWarning:

The default value of regex will change from True to False in a future version.

,EMA_unemp_9yr_2011,SMA_unemp_9yr_2011,chg_SMA_unemp_9yr,chg_EMA_unemp_9yr
FIPS,,,,
01001,6.533657,5.744444,-0.377778,-1.834208

In [62]:
#get curated natural amenities data from csv
na_cols = ["index", "FIPSCode", "CombinedCountyFIPS", "State", "County", "CensusDiv", "RUC93", "UIC93","MeanTempJan4170", "MeanSunJan4170", "MeanTempJul4170", "MeanRelHumJul4170", "LandSurfTopoCode", "PctH20Area", "NatLogPctH20x100", "JANTEMPZ", "JANSUNZ", "JULTEMPZ", "JULHUMZ", "TOPOGZ", "LNH20AREAZ", "NatAmenScale", "NatAmenRank"]
na_csv_list = []

for i in list(range(0, 4)):
    df = pd.read_csv(f'data/nat_amen/curated/part{i}.csv', header=None)
    na_csv_list.append(df)

#for i in na_csv_list:
#    print(i.head(5))

natamen = pd.concat(na_csv_list, axis=0, ignore_index=True)
natamen.columns = na_cols

natamen[['FIPSCode', 'CombinedCountyFIPS']] = natamen[['FIPSCode', 'CombinedCountyFIPS']].astype('string')
natamen.loc[natamen['FIPSCode'].str.len() == 4, 'FIPSCode'] = ['0' + i for i in natamen.loc[natamen['FIPSCode'].str.len() == 4, 'FIPSCode']]
natamen.loc[natamen['CombinedCountyFIPS'].str.len() == 4, 'CombinedCountyFIPS'] = ['0' + i for i in natamen.loc[natamen['CombinedCountyFIPS'].str.len() == 4, 'CombinedCountyFIPS']]

#print(str(natamen['index'].min()), ' ', str(natamen['CombinedCountyFIPS'].min()))
#print(natamen['index'].max())
#print(natamen['index'].count())

natamen = natamen.rename(columns={'FIPSCode':'FIPS'})
na1999 = natamen[['FIPS', 'NatAmenScale', 'NatAmenRank']].set_index('FIPS')
display(na1999.head(10))

       NatAmenScale  NatAmenRank
FIPS
48001          1.07            4
48003          0.68            4
48005          1.92            4
48007          3.71            5
48009         -0.33            3
48011          0.36            4
48013          0.90            4
48015          1.38            4
48017          0.91            4
48019          5.83            6

In [74]:
pat1119 = pat_group[(pat_group['pat_year'] == 2011) | (pat_group['pat_year'] == 2019)]

pat1119ema = pd.pivot_table(pat1119, index=['iloc_county_fips'], columns=['pat_year'], 
                    values=['EMA_pat_9yr', 'EMA_aipat_9yr'], aggfunc=np.max)

pat1119ema = pat1119ema.sort_index(axis=1, level=1)
pat1119ema.columns = [f'{x}_{y}' for x,y in pat1119ema.columns]
pat1119ema = pat1119ema.reset_index().set_index('iloc_county_fips')

pat1119 = pd.pivot_table(pat1119, index=['iloc_county_fips'], columns=['pat_year'], 
                    values=['POPESTIMATE', 'patents', 'any_ai'], aggfunc=np.sum)

pat1119 = pat1119.sort_index(axis=1, level=1)
pat1119.columns = [f'{x}_{y}' for x,y in pat1119.columns]
pat1119 = pat1119.reset_index().set_index('iloc_county_fips')
display(pat1119.head(10))
    
pat1119_agg = pat_group[(pat_group['pat_year'] >= 2011) & (pat_group['pat_year'] <= 2019)]\
    .groupby('iloc_county_fips').agg(sum)
pat1119_agg = pat1119_agg[['patents', 'any_ai', 'DOMESTICMIG']].rename(columns={'patents':'total_patents', 'any_ai':'total_ai_patents', 'DOMESTICMIG':'total_domestic_mig'})
display(pat1119_agg.head(10))

pat1119['pop_chg'] = (pat1119['POPESTIMATE_2019'] - pat1119['POPESTIMATE_2011'])
pat1119['pop_chg_pct'] = (pat1119['POPESTIMATE_2019'] - pat1119['POPESTIMATE_2011']) / pat1119['POPESTIMATE_2011']
pat1119['ppk_2011'] = (pat1119['patents_2011'] / pat1119['POPESTIMATE_2011']) * 1000
pat1119['ppk_2019'] = (pat1119['patents_2019'] / pat1119['POPESTIMATE_2019']) * 1000
pat1119['aippk_2011'] = (pat1119['any_ai_2011'] / pat1119['POPESTIMATE_2011']) * 1000
pat1119['aippk_2019'] = (pat1119['any_ai_2019'] / pat1119['POPESTIMATE_2019']) * 1000

pat1119 = pat1119.join(cbsa).join(pat1119ema).join(pat1119_agg).join(edu_group11).join(tax1019a).join(mhv).join(fmr).join(unemp).join(na1999)

pat1119['EMA_ppk_chg'] = (pat1119['EMA_pat_9yr_2019'] - pat1119['EMA_pat_9yr_2011'])
pat1119['EMA_aippk_chg'] = (pat1119['EMA_aipat_9yr_2019'] - pat1119['EMA_aipat_9yr_2011'])
pat1119['net_pop_chg_domestic_mig'] = pat1119['total_domestic_mig'] / pat1119['POPESTIMATE_2011']
#pat1119['domestic_mig_share'] = pat1119['total_domestic_mig'] / pat1119[pat1119['total_domestic_mig'] >= 0]['total_domestic_mig'].agg('sum')
pat1119['dest_fips'] = pat1119.index
display(pat1119.head(10))

,POPESTIMATE_2011,any_ai_2011,patents_2011,POPESTIMATE_2019,any_ai_2019,patents_2019
iloc_county_fips,,,,,,
01001,55227.0,0.0,2.0,55869.0,1.0,4.0
01003,186558.0,1.0,15.0,223234.0,3.0,38.0
01005,27341.0,0.0,2.0,24686.0,0.0,2.0
01009,57560.0,0.0,3.0,57826.0,0.0,1.0
01015,117744.0,0.0,1.0,113605.0,0.0,5.0
01017,34033.0,0.0,1.0,33254.0,0.0,8.0
01019,25989.0,0.0,3.0,26196.0,0.0,1.0
01021,NaN,NaN,NaN,44428.0,0.0,1.0
01023,13609.0,0.0,1.0,NaN,NaN,NaN
01025,25587.0,0.0,3.0,23622.0,0.0,1.0

                  total_patents  total_ai_patents  total_domestic_mig
iloc_county_fips
01001                        17               1.0               727.0
01003                       217              11.0             36755.0
01005                        16               0.0             -1237.0
01009                        17               1.0                11.0
01011                         2               0.0              -166.0
01013                         3               0.0              -627.0
01015                        64               9.0             -4384.0
01017                        32               1.0              -488.0
01019                        13               0.0              1100.0
01021                        10               1.0                71.0

,POPESTIMATE_2011,any_ai_2011,patents_2011,POPESTIMATE_2019,any_ai_2019,patents_2019,pop_chg,pop_chg_pct,ppk_2011,ppk_2019,...,EMA_unemp_9yr_2011,SMA_unemp_9yr_2011,chg_SMA_unemp_9yr,chg_EMA_unemp_9yr,NatAmenScale,NatAmenRank,EMA_ppk_chg,EMA_aippk_chg,net_pop_chg_domestic_mig,dest_fips
iloc_county_fips,,,,,,,,,,,,,,,,,,,,,
01001,55227.0,0.0,2.0,55869.0,1.0,4.0,642.0,0.011625,0.036214,0.071596,...,6.533657,5.744444,-0.377778,-1.834208,0.78,4.0,0.005957,0.204607,0.013164,01001
01003,186558.0,1.0,15.0,223234.0,3.0,38.0,36676.0,0.196593,0.080404,0.170225,...,6.834402,5.888889,-0.200000,-1.930724,1.82,4.0,0.058136,0.833397,0.197016,01003
01005,27341.0,0.0,2.0,24686.0,0.0,2.0,-2655.0,-0.097107,0.073150,0.081018,...,9.696023,8.633333,-0.133333,-2.395353,0.19,4.0,0.014270,-0.136776,-0.045243,01005
01009,57560.0,0.0,3.0,57826.0,0.0,1.0,266.0,0.004621,0.052120,0.017293,...,6.671010,5.666667,-0.177778,-1.900473,0.23,4.0,0.006977,0.087965,0.000191,01009
01015,117744.0,0.0,1.0,113605.0,0.0,5.0,-4139.0,-0.035153,0.008493,0.044012,...,7.925555,6.822222,0.211111,-1.865066,0.22,4.0,0.008795,0.565857,-0.037233,01015
01017,34033.0,0.0,1.0,33254.0,0.0,8.0,-779.0,-0.022890,0.029383,0.240573,...,11.420721,10.088889,-3.477778,-5.435407,-0.34,3.0,0.100090,0.169308,-0.014339,01017
01019,25989.0,0.0,3.0,26196.0,0.0,1.0,207.0,0.007965,0.115433,0.038174,...,7.616612,6.566667,-0.833333,-2.623287,0.64,4.0,-0.014877,0.000000,0.042326,01019
01021,NaN,NaN,NaN,44428.0,0.0,1.0,NaN,NaN,NaN,0.022508,...,7.113396,6.088889,-0.388889,-2.153070,0.38,4.0,NaN,NaN,NaN,01021
01023,13609.0,0.0,1.0,NaN,NaN,NaN,NaN,NaN,0.073481,NaN,...,10.259330,9.300000,-0.811111,-2.746646,0.92,4.0,NaN,NaN,-0.025130,01023
01025,25587.0,0.0,3.0,23622.0,0.0,1.0,-1965.0,-0.076797,0.117247,0.042333,...,13.126146,10.966667,0.688889,-3.207597,1.26,4.0,-0.029935,0.000000,-0.062024,01025

In [75]:
pat_scatter = pat1119.drop(columns=['POPESTIMATE_2019', 'pop_chg', 'any_ai_2011', 'any_ai_2019', 'patents_2011', 'patents_2019',\
                                    'ppk_2019', 'aippk_2019', 'total_patents', 'total_ai_patents', 'total_domestic_mig'])

In [76]:
%store pat1119
%store pat_scatter

Stored 'pat1119' (DataFrame)
Stored 'pat_scatter' (DataFrame)

**County-to-County Inflows**

In [77]:
#get curated ci data from csv
import glob
import os

path = 'C:/Users/TylerFrankenberg/OneDrive/Documents/MScapstone/data/county_migration/curated/*' # use your path
all_files = glob.glob(path)

ci_cols = ['index', 'y2_statefips','y2_countyfips','y1_statefips','y1_countyfips','y1_state','y1_countyname','n1','n2','agi', 'year', 'y2fips', 'y1fips']
ci_csv_list = []

for file in all_files:
    df = pd.read_csv(file, header=None)
    ci_csv_list.append(df)

ci = pd.concat(ci_csv_list, axis=0, ignore_index=True)
ci.columns = ci_cols

ci[['y2fips', 'y1fips']] = ci[['y2fips', 'y1fips']].astype('string')
ci.loc[ci['y2fips'].str.len() == 4, 'y2fips'] = ['0' + i for i in ci.loc[ci['y2fips'].str.len() == 4, 'y2fips']]
ci.loc[ci['y1fips'].str.len() == 4, 'y1fips'] = ['0' + i for i in ci.loc[ci['y1fips'].str.len() == 4, 'y1fips']]

fips_lookup = ci.rename(columns={'y1fips':'fips', 'y1_state':'state', 'y1_countyname':'county'}).loc[:, ['fips', 'state', 'county']]

In [78]:

ci = ci[['year', 'y2fips', 'y1fips', 'n1', 'n2', 'agi']]
ci = ci.rename(columns={'y2fips':'destfips', 'y1fips':'orgfips', 'n1':'returns', 'n2':'indivs'})
print(ci['year'].unique())

[1213 1112  809 1011  910 1617 1718 1920 1516 1314 1819 1415  607  405
  708  506]

In [79]:
ci['year'] = ci['year'].astype(str).str.extract('([0-9][0-9]$)')
ci['year'] = '20' + ci['year']

ci['year'] = ci['year'].astype(int)
print(ci['year'].unique())

[2013 2012 2009 2011 2010 2017 2018 2020 2016 2014 2019 2015 2007 2005
 2008 2006]

In [80]:
print(ci.isnull().sum())
display(ci.head(10))
display(ci.describe())

year        0
destfips    0
orgfips     0
returns     0
indivs      0
agi         0
dtype: int64

   year destfips orgfips  returns  indivs    agi
0  2013    01001   01051      442    1032  19383
1  2013    01001   01101      404     877  13828
2  2013    01001   01021       60     146   1955
3  2013    01001   01047       55     125   1560
4  2013    01001   01073       35      70   1140
5  2013    01001   01117       26      56   1346
6  2013    01001   45085       21      95    552
7  2013    01001   01097       18      39    789
8  2013    01001   01003       17      46    635
9  2013    01001   01081       16      36    638

               year       returns        indivs           agi
count  1.087150e+06  1.087150e+06  1.087150e+06  1.087150e+06
mean   2.011537e+03  8.426590e+01  1.556729e+02  4.622993e+03
std    4.447761e+00  3.724922e+02  6.968996e+02  2.422392e+04
min    2.005000e+03  1.000000e+01  1.000000e+01 -1.283400e+06
25%    2.008000e+03  1.600000e+01  2.900000e+01  6.330000e+02
50%    2.011000e+03  2.700000e+01  5.000000e+01  1.256000e+03
75%    2.015000e+03  5.400000e+01  1.020000e+02  2.796000e+03
max    2.020000e+03  2.909200e+04  5.144200e+04  2.252809e+06

In [81]:
ci1119 = ci[(ci['year'] >= 2011) & (ci['year'] <= 2019)].groupby(['destfips', 'orgfips']).agg(sum).reset_index().drop(columns=['year'], axis=1).set_index('orgfips')
ci1119 = ci1119.join(pat1119)

ci1119_cols = [col for col in ci1119.columns if col not in ['destfips', 'dest_fips', 'returns', 'indivs', 'agi']]
y2cols = ['org_' + col for col in ci1119_cols]

ci1119 = ci1119.rename(columns=dict(zip(ci1119_cols, y2cols))).drop(columns=['dest_fips'])
ci1119['orgfips'] = ci1119.index
ci1119['agi'] = (ci1119['agi'] * 1000)
ci1119['hh_agi'] = ci1119['agi'] / ci1119['returns']

ci1119cc = ci1119.set_index('destfips').join(cbsa)
ci1119cc['destfips'] = ci1119cc.index
ci1119cc.loc[ci1119cc['msa'].isnull(), 'msa'] = 'Non MSA'
ci1119cc.loc[ci1119cc['org_msa'].isnull(), 'org_msa'] = 'Non MSA'
ci1119cc.loc[ci1119cc['cbsa'].isnull(), 'cbsa'] = ci1119cc.loc[ci1119cc['cbsa'].isnull(), 'state'] + ' ' + 'Non MSA'
ci1119cc.loc[ci1119cc['org_cbsa'].isnull(), 'org_cbsa'] = ci1119cc.loc[ci1119cc['org_cbsa'].isnull(), 'org_state'] + ' ' + 'Non MSA'
ci1119cc = ci1119cc[ci1119cc['cbsa'] != ci1119cc['org_cbsa']]

co1119cc = ci1119cc.groupby('orgfips')['indivs'].agg(sum)
co1119cc = co1119cc.rename({'indivs':'indivs_out'})

display(ci1119cc.head(10))
display(ci1119cc.columns)

,returns,indivs,agi,org_POPESTIMATE_2011,org_any_ai_2011,org_patents_2011,org_POPESTIMATE_2019,org_any_ai_2019,org_patents_2019,org_pop_chg,...,org_net_pop_chg_domestic_mig,orgfips,hh_agi,cbsa,msa,csa,county,state,central/outlying,destfips
01001,31,67,1132000,186558.0,1.0,15.0,223234.0,3.0,38.0,36676.0,...,0.197016,01003,36516.129032,"Montgomery, AL",Metropolitan Statistical Area,"Montgomery-Selma-Alexander City, AL",Autauga County,Alabama,Central,01001
01001,20,54,869000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,01013,43450.000000,"Montgomery, AL",Metropolitan Statistical Area,"Montgomery-Selma-Alexander City, AL",Autauga County,Alabama,Central,01001
01001,638,1542,22075000,NaN,NaN,NaN,44428.0,0.0,1.0,NaN,...,NaN,01021,34600.313480,"Montgomery, AL",Metropolitan Statistical Area,"Montgomery-Selma-Alexander City, AL",Autauga County,Alabama,Central,01001
01001,527,1216,18578000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,01047,35252.371917,"Montgomery, AL",Metropolitan Statistical Area,"Montgomery-Selma-Alexander City, AL",Autauga County,Alabama,Central,01001
01001,11,31,243000,102488.0,0.0,6.0,105882.0,0.0,7.0,3394.0,...,0.018412,01069,22090.909091,"Montgomery, AL",Metropolitan Statistical Area,"Montgomery-Selma-Alexander City, AL",Autauga County,Alabama,Central,01001
01001,409,771,16995000,658109.0,22.0,141.0,658573.0,21.0,154.0,464.0,...,-0.029819,01073,41552.567237,"Montgomery, AL",Metropolitan Statistical Area,"Montgomery-Selma-Alexander City, AL",Autauga County,Alabama,Central,01001
01001,176,308,7001000,144130.0,4.0,36.0,164542.0,6.0,56.0,20412.0,...,0.084070,01081,39778.409091,"Montgomery, AL",Metropolitan Statistical Area,"Montgomery-Selma-Alexander City, AL",Autauga County,Alabama,Central,01001
01001,57,145,2245000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,01085,39385.964912,"Montgomery, AL",Metropolitan Statistical Area,"Montgomery-Selma-Alexander City, AL",Autauga County,Alabama,Central,01001
01001,28,46,1129000,339565.0,24.0,184.0,372909.0,45.0,262.0,33344.0,...,0.064671,01089,40321.428571,"Montgomery, AL",Metropolitan Statistical Area,"Montgomery-Selma-Alexander City, AL",Autauga County,Alabama,Central,01001
01001,60,123,2177000,413068.0,1.0,24.0,413210.0,5.0,56.0,142.0,...,-0.038512,01097,36283.333333,"Montgomery, AL",Metropolitan Statistical Area,"Montgomery-Selma-Alexander City, AL",Autauga County,Alabama,Central,01001

Index(['returns', 'indivs', 'agi', 'org_POPESTIMATE_2011', 'org_any_ai_2011',
       'org_patents_2011', 'org_POPESTIMATE_2019', 'org_any_ai_2019',
       'org_patents_2019', 'org_pop_chg', 'org_pop_chg_pct', 'org_ppk_2011',
       'org_ppk_2019', 'org_aippk_2011', 'org_aippk_2019', 'org_cbsa',
       'org_msa', 'org_csa', 'org_county', 'org_state', 'org_central/outlying',
       'org_EMA_aipat_9yr_2011', 'org_EMA_pat_9yr_2011',
       'org_EMA_aipat_9yr_2019', 'org_EMA_pat_9yr_2019', 'org_total_patents',
       'org_total_ai_patents', 'org_total_domestic_mig', 'org_bach_pct_2011',
       'org_burd_weight', 'org_burd_top', 'org_burd_upmed', 'org_burd_lowmed',
       'org_burd_min', 'org_med_home_val_2011', 'org_pct_chg_mhv',
       'org_fmr_2011', 'org_fmr_2019', 'org_pct_chg_fmr',
       'org_EMA_unemp_9yr_2011', 'org_SMA_unemp_9yr_2011',
       'org_chg_SMA_unemp_9yr', 'org_chg_EMA_unemp_9yr', 'org_NatAmenScale',
       'org_NatAmenRank', 'org_EMA_ppk_chg', 'org_EMA_aippk_chg',
       'org_net_pop_chg_domestic_mig', 'orgfips', 'hh_agi', 'cbsa', 'msa',
       'csa', 'county', 'state', 'central/outlying', 'destfips'],
      dtype='object')

In [82]:
ci1119cca = ci1119cc[['destfips', 'returns', 'indivs', 'agi']].groupby('destfips').agg(sum)
ci1119cca['hh_agi'] = ci1119cca['agi'] / ci1119cca['returns']
display(ci1119cca.head(10))

ci1119ccb = ci1119cc.drop(columns=['returns', 'indivs', 'agi', 'hh_agi']).groupby('destfips').agg(np.mean)
display(ci1119ccb.head(10))

ci1119ccj = ci1119cca.join(ci1119ccb)
display(ci1119ccj.head(10))

          returns  indivs         agi        hh_agi
destfips
01001        2610    5789   103183000  39533.716475
01003       28154   55740  1751036000  62194.927897
01005        1838    4346    52220000  28411.316649
01007        1085    2559    44297000  40826.728111
01009        2502    5722    80894000  32331.734612
01011         768    1676    22790000  29674.479167
01013        1107    2548    26253000  23715.447154
01015       10404   21541   364811000  35064.494425
01017        3546    8094   113875000  32113.649182
01019        2442    5540    87765000  35939.803440

,org_POPESTIMATE_2011,org_any_ai_2011,org_patents_2011,org_POPESTIMATE_2019,org_any_ai_2019,org_patents_2019,org_pop_chg,org_pop_chg_pct,org_ppk_2011,org_ppk_2019,...,org_pct_chg_fmr,org_EMA_unemp_9yr_2011,org_SMA_unemp_9yr_2011,org_chg_SMA_unemp_9yr,org_chg_EMA_unemp_9yr,org_NatAmenScale,org_NatAmenRank,org_EMA_ppk_chg,org_EMA_aippk_chg,org_net_pop_chg_domestic_mig
destfips,,,,,,,,,,,,,,,,,,,,,
01001,511739.772727,71.500000,247.954545,573730.590909,124.181818,408.863636,64798.666667,0.099489,0.293278,0.450118,...,0.193788,6.860456,6.000000,-0.347826,-1.953220,1.431739,4.173913,0.120944,44.384474,0.044996
01003,740104.043860,76.403509,385.035088,801756.438596,150.219298,658.149123,63249.054545,0.079012,0.311571,0.471604,...,0.186101,7.188482,6.326554,-0.392185,-1.986860,1.153419,3.940171,0.146200,59.198232,0.026580
01005,526722.000000,14.200000,89.900000,564844.000000,32.300000,168.800000,46015.222222,0.051749,0.111846,0.181810,...,0.207483,7.333125,6.404040,-0.216162,-1.931860,0.203000,3.500000,0.058323,17.155534,-0.012710
01007,106053.000000,2.000000,8.000000,112003.000000,5.000000,26.000000,5950.000000,0.008936,0.070670,0.155930,...,0.173130,8.520847,7.377778,-0.294444,-2.454595,0.965000,4.000000,0.072699,1.273370,-0.019212
01009,148518.875000,4.375000,31.625000,158938.500000,7.250000,51.500000,10419.625000,0.045285,0.136584,0.216948,...,0.152737,7.233862,6.276389,-0.347222,-2.132532,0.580000,3.875000,0.069597,2.457195,0.036112
01011,499916.666667,9.833333,69.666667,530639.333333,30.500000,151.500000,30722.666667,-0.007988,0.112943,0.164614,...,0.192602,7.929687,6.848148,-0.031481,-2.049704,-0.364000,3.200000,0.043706,13.521256,-0.042599
01013,252324.857143,4.285714,33.142857,260446.142857,5.285714,49.428571,8121.285714,0.050614,0.105788,0.171184,...,0.158802,7.057383,6.180952,-0.366667,-1.995858,0.888571,3.714286,0.038158,1.503414,0.021569
01015,360391.942857,50.742857,195.685714,396700.485714,82.885714,299.371429,36241.852941,0.069001,0.275636,0.380794,...,0.197221,7.581958,6.624691,-0.528086,-2.296448,0.636286,3.685714,0.110596,28.909572,0.021369
01017,359392.230769,49.692308,224.461538,419118.583333,91.166667,354.416667,33227.166667,0.072277,0.342456,0.515818,...,0.234555,7.770119,6.929060,-0.822222,-2.415455,0.120769,3.384615,0.162494,32.036745,0.017421
01019,149680.333333,15.111111,55.555556,157548.777778,21.444444,78.555556,7868.444444,0.018515,0.124777,0.183656,...,0.189026,8.341741,7.244444,-0.617284,-2.614700,0.045556,3.666667,0.050173,7.344366,-0.003967

,returns,indivs,agi,hh_agi,org_POPESTIMATE_2011,org_any_ai_2011,org_patents_2011,org_POPESTIMATE_2019,org_any_ai_2019,org_patents_2019,...,org_pct_chg_fmr,org_EMA_unemp_9yr_2011,org_SMA_unemp_9yr_2011,org_chg_SMA_unemp_9yr,org_chg_EMA_unemp_9yr,org_NatAmenScale,org_NatAmenRank,org_EMA_ppk_chg,org_EMA_aippk_chg,org_net_pop_chg_domestic_mig
destfips,,,,,,,,,,,,,,,,,,,,,
01001,2610,5789,103183000,39533.716475,511739.772727,71.500000,247.954545,573730.590909,124.181818,408.863636,...,0.193788,6.860456,6.000000,-0.347826,-1.953220,1.431739,4.173913,0.120944,44.384474,0.044996
01003,28154,55740,1751036000,62194.927897,740104.043860,76.403509,385.035088,801756.438596,150.219298,658.149123,...,0.186101,7.188482,6.326554,-0.392185,-1.986860,1.153419,3.940171,0.146200,59.198232,0.026580
01005,1838,4346,52220000,28411.316649,526722.000000,14.200000,89.900000,564844.000000,32.300000,168.800000,...,0.207483,7.333125,6.404040,-0.216162,-1.931860,0.203000,3.500000,0.058323,17.155534,-0.012710
01007,1085,2559,44297000,40826.728111,106053.000000,2.000000,8.000000,112003.000000,5.000000,26.000000,...,0.173130,8.520847,7.377778,-0.294444,-2.454595,0.965000,4.000000,0.072699,1.273370,-0.019212
01009,2502,5722,80894000,32331.734612,148518.875000,4.375000,31.625000,158938.500000,7.250000,51.500000,...,0.152737,7.233862,6.276389,-0.347222,-2.132532,0.580000,3.875000,0.069597,2.457195,0.036112
01011,768,1676,22790000,29674.479167,499916.666667,9.833333,69.666667,530639.333333,30.500000,151.500000,...,0.192602,7.929687,6.848148,-0.031481,-2.049704,-0.364000,3.200000,0.043706,13.521256,-0.042599
01013,1107,2548,26253000,23715.447154,252324.857143,4.285714,33.142857,260446.142857,5.285714,49.428571,...,0.158802,7.057383,6.180952,-0.366667,-1.995858,0.888571,3.714286,0.038158,1.503414,0.021569
01015,10404,21541,364811000,35064.494425,360391.942857,50.742857,195.685714,396700.485714,82.885714,299.371429,...,0.197221,7.581958,6.624691,-0.528086,-2.296448,0.636286,3.685714,0.110596,28.909572,0.021369
01017,3546,8094,113875000,32113.649182,359392.230769,49.692308,224.461538,419118.583333,91.166667,354.416667,...,0.234555,7.770119,6.929060,-0.822222,-2.415455,0.120769,3.384615,0.162494,32.036745,0.017421
01019,2442,5540,87765000,35939.803440,149680.333333,15.111111,55.555556,157548.777778,21.444444,78.555556,...,0.189026,8.341741,7.244444,-0.617284,-2.614700,0.045556,3.666667,0.050173,7.344366,-0.003967

In [83]:
cicc_scatter = pat_scatter.join(ci1119ccj).join(co1119cc, rsuffix='_out')
cicc_scatter['net_pop_chg_domestic_indivs'] = (cicc_scatter['indivs'] - cicc_scatter['indivs_out'])/ cicc_scatter['POPESTIMATE_2011']

cicc_scatter = cicc_scatter.drop(columns=['returns', 'indivs', 'agi', 'pop_chg_pct', 'org_pop_chg_pct', 'org_POPESTIMATE_2019', 'org_pop_chg', 'org_any_ai_2011', 'org_any_ai_2019', 'org_patents_2011', 'org_patents_2019',\
                                    'org_ppk_2019', 'org_aippk_2019', 'org_total_patents', 'org_total_ai_patents', 'org_total_domestic_mig', 'dest_fips', 'cbsa', 'msa', 'csa', 'county', 'state', 'central/outlying'])

display(dict(zip(list(cicc_scatter.columns), list(cicc_scatter.dtypes))))
#check for null values by column
display(cicc_scatter.isnull().sum())
display(cicc_scatter.isin([np.inf]).sum())

#null handling; drop rows with null endogenous variable & origin counterpart. impute means for null & inf otherwise
cicc_scatter = cicc_scatter[(~cicc_scatter['net_pop_chg_domestic_mig'].isnull()) & (~cicc_scatter['org_net_pop_chg_domestic_mig'].isnull())]
for col in list(cicc_scatter.columns):
    cicc_scatter.loc[:, col] = cicc_scatter.loc[:, col].fillna(np.mean(cicc_scatter.loc[:, col]))
    cicc_scatter.loc[cicc_scatter[col] == np.inf, col] = np.mean(cicc_scatter.loc[cicc_scatter[col] != np.inf, col])

#check for null & inf values by column
display(cicc_scatter.isnull().sum())
display(cicc_scatter.isin([np.inf]).sum())

#view first 10 rows of dataset
display(cicc_scatter.head(10))

#view summary statistics on numerical columns
display(cicc_scatter.describe())

%store cicc_scatter

{'POPESTIMATE_2011': dtype('float64'),
 'ppk_2011': dtype('float64'),
 'aippk_2011': dtype('float64'),
 'EMA_aipat_9yr_2011': dtype('float64'),
 'EMA_pat_9yr_2011': dtype('float64'),
 'EMA_aipat_9yr_2019': dtype('float64'),
 'EMA_pat_9yr_2019': dtype('float64'),
 'bach_pct_2011': dtype('float64'),
 'burd_weight': dtype('float64'),
 'burd_top': dtype('float64'),
 'burd_upmed': dtype('float64'),
 'burd_lowmed': dtype('float64'),
 'burd_min': dtype('float64'),
 'med_home_val_2011': dtype('float64'),
 'pct_chg_mhv': dtype('float64'),
 'fmr_2011': dtype('float64'),
 'fmr_2019': dtype('float64'),
 'pct_chg_fmr': dtype('float64'),
 'EMA_unemp_9yr_2011': dtype('float64'),
 'SMA_unemp_9yr_2011': dtype('float64'),
 'chg_SMA_unemp_9yr': dtype('float64'),
 'chg_EMA_unemp_9yr': dtype('float64'),
 'NatAmenScale': dtype('float64'),
 'NatAmenRank': dtype('float64'),
 'EMA_ppk_chg': dtype('float64'),
 'EMA_aippk_chg': dtype('float64'),
 'net_pop_chg_domestic_mig': dtype('float64'),
 'hh_agi': dtype('float64'),
 'org_POPESTIMATE_2011': dtype('float64'),
 'org_ppk_2011': dtype('float64'),
 'org_aippk_2011': dtype('float64'),
 'org_EMA_aipat_9yr_2011': dtype('float64'),
 'org_EMA_pat_9yr_2011': dtype('float64'),
 'org_EMA_aipat_9yr_2019': dtype('float64'),
 'org_EMA_pat_9yr_2019': dtype('float64'),
 'org_bach_pct_2011': dtype('float64'),
 'org_burd_weight': dtype('float64'),
 'org_burd_top': dtype('float64'),
 'org_burd_upmed': dtype('float64'),
 'org_burd_lowmed': dtype('float64'),
 'org_burd_min': dtype('float64'),
 'org_med_home_val_2011': dtype('float64'),
 'org_pct_chg_mhv': dtype('float64'),
 'org_fmr_2011': dtype('float64'),
 'org_fmr_2019': dtype('float64'),
 'org_pct_chg_fmr': dtype('float64'),
 'org_EMA_unemp_9yr_2011': dtype('float64'),
 'org_SMA_unemp_9yr_2011': dtype('float64'),
 'org_chg_SMA_unemp_9yr': dtype('float64'),
 'org_chg_EMA_unemp_9yr': dtype('float64'),
 'org_NatAmenScale': dtype('float64'),
 'org_NatAmenRank': dtype('float64'),
 'org_EMA_ppk_chg': dtype('float64'),
 'org_EMA_aippk_chg': dtype('float64'),
 'org_net_pop_chg_domestic_mig': dtype('float64'),
 'indivs_out': dtype('float64'),
 'net_pop_chg_domestic_indivs': dtype('float64')}

POPESTIMATE_2011                360
ppk_2011                        360
aippk_2011                      360
EMA_aipat_9yr_2011              360
EMA_pat_9yr_2011                360
EMA_aipat_9yr_2019              211
EMA_pat_9yr_2019                211
bach_pct_2011                     1
burd_weight                       0
burd_top                          8
burd_upmed                        0
burd_lowmed                       0
burd_min                          0
med_home_val_2011                90
pct_chg_mhv                     271
fmr_2011                          1
fmr_2019                          1
pct_chg_fmr                       1
EMA_unemp_9yr_2011                0
SMA_unemp_9yr_2011                0
chg_SMA_unemp_9yr                 0
chg_EMA_unemp_9yr                 0
NatAmenScale                     13
NatAmenRank                      13
EMA_ppk_chg                     571
EMA_aippk_chg                   571
net_pop_chg_domestic_mig        360
hh_agi                           15
org_POPESTIMATE_2011             41
org_ppk_2011                     41
org_aippk_2011                   41
org_EMA_aipat_9yr_2011           41
org_EMA_pat_9yr_2011             41
org_EMA_aipat_9yr_2019           24
org_EMA_pat_9yr_2019             24
org_bach_pct_2011                97
org_burd_weight                  20
org_burd_top                     20
org_burd_upmed                   20
org_burd_lowmed                  20
org_burd_min                     20
org_med_home_val_2011            20
org_pct_chg_mhv                  24
org_fmr_2011                     20
org_fmr_2019                     20
org_pct_chg_fmr                  20
org_EMA_unemp_9yr_2011           20
org_SMA_unemp_9yr_2011           20
org_chg_SMA_unemp_9yr            20
org_chg_EMA_unemp_9yr            20
org_NatAmenScale                 20
org_NatAmenRank                  20
org_EMA_ppk_chg                  46
org_EMA_aippk_chg                46
org_net_pop_chg_domestic_mig     41
indivs_out                       22
net_pop_chg_domestic_indivs     377
dtype: int64

POPESTIMATE_2011                0
ppk_2011                        0
aippk_2011                      0
EMA_aipat_9yr_2011              0
EMA_pat_9yr_2011                0
EMA_aipat_9yr_2019              0
EMA_pat_9yr_2019                0
bach_pct_2011                   1
burd_weight                     0
burd_top                        0
burd_upmed                      0
burd_lowmed                     0
burd_min                        0
med_home_val_2011               0
pct_chg_mhv                     0
fmr_2011                        0
fmr_2019                        0
pct_chg_fmr                     0
EMA_unemp_9yr_2011              0
SMA_unemp_9yr_2011              0
chg_SMA_unemp_9yr               0
chg_EMA_unemp_9yr               0
NatAmenScale                    0
NatAmenRank                     0
EMA_ppk_chg                     0
EMA_aippk_chg                   0
net_pop_chg_domestic_mig        0
hh_agi                          0
org_POPESTIMATE_2011            0
org_ppk_2011                    0
org_aippk_2011                  0
org_EMA_aipat_9yr_2011          0
org_EMA_pat_9yr_2011            0
org_EMA_aipat_9yr_2019          0
org_EMA_pat_9yr_2019            0
org_bach_pct_2011               0
org_burd_weight                 0
org_burd_top                    0
org_burd_upmed                  0
org_burd_lowmed                 0
org_burd_min                    0
org_med_home_val_2011           0
org_pct_chg_mhv                 0
org_fmr_2011                    0
org_fmr_2019                    0
org_pct_chg_fmr                 0
org_EMA_unemp_9yr_2011          0
org_SMA_unemp_9yr_2011          0
org_chg_SMA_unemp_9yr           0
org_chg_EMA_unemp_9yr           0
org_NatAmenScale                0
org_NatAmenRank                 0
org_EMA_ppk_chg                 0
org_EMA_aippk_chg               0
org_net_pop_chg_domestic_mig    0
indivs_out                      0
net_pop_chg_domestic_indivs     0
dtype: int64

POPESTIMATE_2011                0
ppk_2011                        0
aippk_2011                      0
EMA_aipat_9yr_2011              0
EMA_pat_9yr_2011                0
EMA_aipat_9yr_2019              0
EMA_pat_9yr_2019                0
bach_pct_2011                   0
burd_weight                     0
burd_top                        0
burd_upmed                      0
burd_lowmed                     0
burd_min                        0
med_home_val_2011               0
pct_chg_mhv                     0
fmr_2011                        0
fmr_2019                        0
pct_chg_fmr                     0
EMA_unemp_9yr_2011              0
SMA_unemp_9yr_2011              0
chg_SMA_unemp_9yr               0
chg_EMA_unemp_9yr               0
NatAmenScale                    0
NatAmenRank                     0
EMA_ppk_chg                     0
EMA_aippk_chg                   0
net_pop_chg_domestic_mig        0
hh_agi                          0
org_POPESTIMATE_2011            0
org_ppk_2011                    0
org_aippk_2011                  0
org_EMA_aipat_9yr_2011          0
org_EMA_pat_9yr_2011            0
org_EMA_aipat_9yr_2019          0
org_EMA_pat_9yr_2019            0
org_bach_pct_2011               0
org_burd_weight                 0
org_burd_top                    0
org_burd_upmed                  0
org_burd_lowmed                 0
org_burd_min                    0
org_med_home_val_2011           0
org_pct_chg_mhv                 0
org_fmr_2011                    0
org_fmr_2019                    0
org_pct_chg_fmr                 0
org_EMA_unemp_9yr_2011          0
org_SMA_unemp_9yr_2011          0
org_chg_SMA_unemp_9yr           0
org_chg_EMA_unemp_9yr           0
org_NatAmenScale                0
org_NatAmenRank                 0
org_EMA_ppk_chg                 0
org_EMA_aippk_chg               0
org_net_pop_chg_domestic_mig    0
indivs_out                      0
net_pop_chg_domestic_indivs     0
dtype: int64

POPESTIMATE_2011                0
ppk_2011                        0
aippk_2011                      0
EMA_aipat_9yr_2011              0
EMA_pat_9yr_2011                0
EMA_aipat_9yr_2019              0
EMA_pat_9yr_2019                0
bach_pct_2011                   0
burd_weight                     0
burd_top                        0
burd_upmed                      0
burd_lowmed                     0
burd_min                        0
med_home_val_2011               0
pct_chg_mhv                     0
fmr_2011                        0
fmr_2019                        0
pct_chg_fmr                     0
EMA_unemp_9yr_2011              0
SMA_unemp_9yr_2011              0
chg_SMA_unemp_9yr               0
chg_EMA_unemp_9yr               0
NatAmenScale                    0
NatAmenRank                     0
EMA_ppk_chg                     0
EMA_aippk_chg                   0
net_pop_chg_domestic_mig        0
hh_agi                          0
org_POPESTIMATE_2011            0
org_ppk_2011                    0
org_aippk_2011                  0
org_EMA_aipat_9yr_2011          0
org_EMA_pat_9yr_2011            0
org_EMA_aipat_9yr_2019          0
org_EMA_pat_9yr_2019            0
org_bach_pct_2011               0
org_burd_weight                 0
org_burd_top                    0
org_burd_upmed                  0
org_burd_lowmed                 0
org_burd_min                    0
org_med_home_val_2011           0
org_pct_chg_mhv                 0
org_fmr_2011                    0
org_fmr_2019                    0
org_pct_chg_fmr                 0
org_EMA_unemp_9yr_2011          0
org_SMA_unemp_9yr_2011          0
org_chg_SMA_unemp_9yr           0
org_chg_EMA_unemp_9yr           0
org_NatAmenScale                0
org_NatAmenRank                 0
org_EMA_ppk_chg                 0
org_EMA_aippk_chg               0
org_net_pop_chg_domestic_mig    0
indivs_out                      0
net_pop_chg_domestic_indivs     0
dtype: int64

,POPESTIMATE_2011,ppk_2011,aippk_2011,EMA_aipat_9yr_2011,EMA_pat_9yr_2011,EMA_aipat_9yr_2019,EMA_pat_9yr_2019,bach_pct_2011,burd_weight,burd_top,...,org_SMA_unemp_9yr_2011,org_chg_SMA_unemp_9yr,org_chg_EMA_unemp_9yr,org_NatAmenScale,org_NatAmenRank,org_EMA_ppk_chg,org_EMA_aippk_chg,org_net_pop_chg_domestic_mig,indivs_out,net_pop_chg_domestic_indivs
iloc_county_fips,,,,,,,,,,,,,,,,,,,,,
01001,55227.0,0.036214,0.00000,0.000000,0.034259,0.204607,0.040216,0.135405,0.011332,0.031708,...,6.000000,-0.347826,-1.953220,1.431739,4.173913,0.120944,44.384474,0.044996,6364.0,-0.010412
01003,186558.0,0.080404,0.00536,0.700992,0.069517,1.534389,0.127653,0.181547,0.014918,0.036079,...,6.326554,-0.392185,-1.986860,1.153419,3.940171,0.146200,59.198232,0.026580,36385.0,0.103748
01005,27341.0,0.073150,0.00000,0.192255,0.084277,0.055479,0.098546,0.096193,0.011741,0.031357,...,6.404040,-0.216162,-1.931860,0.203000,3.500000,0.058323,17.155534,-0.012710,4707.0,-0.013204
01009,57560.0,0.052120,0.00000,0.000000,0.027920,0.087965,0.034897,0.075521,0.010362,0.035143,...,6.276389,-0.347222,-2.132532,0.580000,3.875000,0.069597,2.457195,0.036112,6731.0,-0.017530
01015,117744.0,0.008493,0.00000,0.322644,0.049145,0.888501,0.057940,0.105016,0.010039,0.035203,...,6.624691,-0.528086,-2.296448,0.636286,3.685714,0.110596,28.909572,0.021369,25140.0,-0.030566
01017,34033.0,0.029383,0.00000,0.000000,0.035679,0.169308,0.135770,0.073517,0.010441,0.037881,...,6.929060,-0.822222,-2.415455,0.120769,3.384615,0.162494,32.036745,0.017421,7737.0,0.010490
01019,25989.0,0.115433,0.00000,0.000000,0.080444,0.000000,0.065567,0.081034,0.010186,0.033177,...,7.244444,-0.617284,-2.614700,0.045556,3.666667,0.050173,7.344366,-0.003967,4799.0,0.028512
01023,13609.0,0.073481,0.00000,0.000000,0.088454,26.041298,0.413351,0.075244,0.010341,0.032192,...,8.517460,-0.461905,-2.621140,0.414286,3.571429,0.017149,0.905671,-0.039793,850.0,-0.015431
01025,25587.0,0.117247,0.00000,0.000000,0.079595,0.000000,0.049660,0.088717,0.011646,0.032943,...,7.758889,-0.455556,-2.404697,0.590000,3.700000,0.039273,1.527754,-0.002209,4483.0,-0.037167
01031,50444.0,0.039648,0.00000,0.586937,0.068332,0.274289,0.045120,0.138966,0.010211,0.034524,...,6.398366,-0.185621,-1.888022,1.038824,3.823529,0.084479,16.699225,0.020329,18199.0,-0.007612

,POPESTIMATE_2011,ppk_2011,aippk_2011,EMA_aipat_9yr_2011,EMA_pat_9yr_2011,EMA_aipat_9yr_2019,EMA_pat_9yr_2019,bach_pct_2011,burd_weight,burd_top,...,org_SMA_unemp_9yr_2011,org_chg_SMA_unemp_9yr,org_chg_EMA_unemp_9yr,org_NatAmenScale,org_NatAmenRank,org_EMA_ppk_chg,org_EMA_aippk_chg,org_net_pop_chg_domestic_mig,indivs_out,net_pop_chg_domestic_indivs
count,2.034000e+03,2034.000000,2034.000000,2034.000000,2034.000000,2034.000000,2034.000000,2034.000000,2034.000000,2034.000000,...,2034.000000,2034.000000,2034.000000,2034.000000,2034.000000,2034.000000,2034.000000,2034.000000,2.034000e+03,2034.000000
mean,1.442796e+05,0.319189,0.037798,10.833175,0.266587,26.041298,0.413351,0.140114,0.019412,0.046165,...,6.424223,-0.771367,-2.028024,0.406361,3.625420,0.191651,57.120257,0.006742,2.726575e+04,0.004264
std,3.848234e+05,0.574603,0.121972,82.974770,0.436445,195.002157,0.653220,0.058144,0.011306,0.019075,...,1.105187,0.500798,0.647215,2.025617,0.893069,0.132196,61.432068,0.034787,7.970837e+04,0.044790
min,1.705000e+03,0.001330,0.000000,0.000000,0.001148,0.000000,0.004299,0.041231,0.003034,0.000000,...,3.000000,-3.025926,-4.545130,-4.980000,1.000000,-0.588468,-0.969337,-0.129291,2.300000e+01,-0.223409
25%,2.231600e+04,0.074403,0.000000,0.000000,0.079653,0.163123,0.119158,0.099746,0.011506,0.035135,...,5.901327,-1.041019,-2.403845,-0.945694,3.000000,0.103320,7.822297,-0.015795,3.036000e+03,-0.016079
50%,4.575650e+04,0.149088,0.000000,0.271003,0.137033,0.911294,0.231588,0.125892,0.016642,0.047193,...,6.390540,-0.724037,-1.993344,0.409375,3.649587,0.179273,44.854016,0.004654,7.277500e+03,-0.001805
75%,1.160780e+05,0.348126,0.029519,1.559975,0.279500,9.726756,0.413351,0.167094,0.024403,0.057215,...,7.060833,-0.456439,-1.646306,1.384972,4.059706,0.261034,80.868658,0.024391,1.932250e+04,0.017217
max,9.876482e+06,12.616263,2.232825,2744.543268,7.948089,6640.517273,11.207404,0.494453,0.085184,0.114451,...,10.861111,1.166667,0.195093,8.080000,7.000000,1.695507,498.647757,0.226829,1.900709e+06,0.822388

Stored 'cicc_scatter' (DataFrame)